.root {
    width: 100vw;
    min-height: 100vh;
    background: var(--bg);
    color: var(--fg);
    font-family: var(--font-sans);
    position: relative;
}

.main {
    position: relative;
    z-index: 1;
    pointer-events: none;
}